</header>
    <main>
        <h2>Contato</h2>
        <br>
        <div class="formulario">
            <form action="" method="post">
                <label for="nome">NOME</label>
                <input type="text" id="Nome" placeholder="Seu Nome">
                <label for="E-mail">E-mail</label>
                <input type="text" id="E-mail"placeholder="Seu E-mail"> 
                <label for="Telefone">Telefone</label>
                <input type="tel" id="Telefone"placeholder="Seu Telefone">
                <label for="Assunto">Assunto</label>
                <textarea type="Assunto" cols="50" rows="20" id="Telefone"></textarea>
                <br>
                <button type="submit">Enviar</button>
                <br><br>
            </form>
        </div>

                
        
       
    </main>