<nav>
    {{!-- <a href="/cadastrar_usuario">Cadastrar Usuário</a>&emsp; --}}
    <a href="/cadastrar_produto">Cadastrar Produto</a>&emsp;
    <a href="/listar_produto">Listar Produto</a>&emsp;
    <a href="/editar_produto">Editar Produto</a>&emsp;
    <a href="/excluir_produto">Excluir Produto</a>
</nav>
<br><br>