<header class="menu"> 
        <img class="icone" src="./img/IMG_6372 (1).PNG" alt="logo da imagem da empresa">
        <nav>
            <ul class="menu-items">
                <li><a href="index.html">Principal</a></li>
                <li><a href="historia.html">História</a></li>
                <li><a href="contato.html">Contato</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>História da SELO</h2>
        <div class="conteudo">
                <p class="texto">.</p>
                <br>
                <p class="texto">Para sermos sinceros, a Selo não é uma história muito diferente das muitas outras empresas por ai. Dois adolescentes  no último ano do Ensino Médio resolvem desenvolver aquela grana extra fazendo aquilo que amam. É... parece que deu certo!.</p>
                <img class="img" src="./img/modelo .jpg" alt="modelo">
                <p class="texto">Com desenhos e drops incríveis, a Selo não possui somente um hype, e sim uma identidade, onde podemos todos os dias lembrar que somos SELADOS!</p>
                <br>
                <p>"Nele, quando vocês ouviram e creram na palavra da verdade, o evangelho que os salvou, vocês foram selados com o Espírito Santo da promessa.""
                    Efésios 1:13</p>
        
        </div>
        <br>
        <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/NLHBn6C50ds" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <div>
    </main>