<link rel="stylesheet" href="/css/home.css">

 <main>
        <div class="conteudo">
            <img class="icone" src="/img/camisa 3 (1).jpg" alt="primeira camisa">
            <p class="preco">R$ <span class="valor-preco">50.00</span></p>
            <button class="adicionar-ao-carrinho" data-nome="HIGH" data-preco="50.00" data-qtde="1" cod-prod="1">Adicionar ao Carrinho</button>
        </div>

        <div class="conteudo">
            <img class="icone" src="/img/camisa 3 (1).jpg" alt="segunda camisa">
            <p class="preco">R$ <span class="valor-preco">50.00</span></p>
            <button class="adicionar-ao-carrinho" data-nome="WATS" data-preco="50.00" data-qtde="1" cod-prod="2">Adicionar ao Carrinho</button>
        </div>

        <div class="conteudo">
            <img class="icone" src="/img/camisa 3 (1).jpg" alt="terceira camisa">
            <p class="preco">R$ <span class="valor-preco">50.00</span></p>
            <button class="adicionar-ao-carrinho" data-nome="WATS" data-preco="50.00" data-qtde="1" cod-prod="3">Adicionar ao Carrinho</button>
        </div>

        <div class="conteudo">
            <img class="icone" src="/img/camisa 3 (1).jpg   " alt="quarta camisa">
            <p class="preco">R$ <span class="valor-preco">50.00</span></p>
            <button class="adicionar-ao-carrinho" data-nome="WATS" data-preco="50.00" data-qtde="1" cod-prod="4">Adicionar ao Carrinho</button>
        </div>

        <div class="conteudo">
            <p class="texto">AQUI, VOCÊ FAZ SEU ESTILO! AQUI, VOCÊ PLANEJA!</p>
            <img src="/img/IMG_6371.PNG" alt="camisa">
        </div>
    </main>