</header>
    <main>
        <div class="conteudo">  
            <img class="icone" src="./img/camisa 3.jpg" alt="primeira camisa">
            <!-- <button>comprar</button> -->
            <img class="icone" src="./img/camisa 3.jpg" alt="segunda camisa">
            <!-- <img class="icone" src="./img/camisa verde.jpg" alt="segunda camisa"> -->

         </div>

         
         <div class="conteudo"> 
            <img class="icone" src="./img/camisa 3.jpg" alt="terceira camisa">
            <img class="icone" src="./img/icamisa 3.jpg" alt="quarta camisa">
            <!-- <img class="icone" src="./img/camisa verde.jpg" alt="segunda camisa"> -->

         </div>

         
         <div class="conteudo">
            <p class="texto">AQUI, VOCÊ FAZ SEU ESTILO! AQUI, VOCÊ PLANEJA! </p>
            <img src="./img/CM4.jpg" alt="camisa">  
        </div>
        <br>
        
    </main>