nav {
    background-color: #000000; /* Cor de fundo da barra de navegação */
    padding: 10px;
    text-align: center;
}

nav a {
    color: white; /* Cor do texto dos links */
    text-decoration: none; /* Remover sublinhado dos links */
    margin: 0 15px; /* Espaçamento entre os links */
}

nav a:hover {
    text-decoration: underline; /* Adicionar sublinhado ao passar o mouse sobre os links */
}

body {
    text-align: center; /* Centralizar o texto na página */
}
